AddType video/mp4 .mp4
AddType video/webm .webm

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType video/mp4 "access plus 1 month"
    ExpiresByType video/webm "access plus 1 month"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(mp4|webm)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
</IfModule>
